@model Lombiq.SmartNotifications.Models.SmartNotificationsPart
<fieldset>
    <legend>@T("Smart Notifications settings")</legend>
    <ol>
        <li>
            @Html.EditorFor(m => m.MakeAllNotificationsClosable)<label for="@Html.FieldIdFor(m => m.MakeAllNotificationsClosable)" class="forcheckbox">@T("All closable")</label>
            @Html.ValidationMessageFor(m => m.MakeAllNotificationsClosable)<span class="hint">@T("If checked, all the notifications will be closable: the user will be able to dismiss notifications.")</span>
        </li>
        <li>
            @Html.EditorFor(m => m.MakeAllNotificationsFading)<label for="@Html.FieldIdFor(m => m.MakeAllNotificationsFading)" class="forcheckbox">@T("All fading")</label>
            @Html.ValidationMessageFor(m => m.MakeAllNotificationsFading)<span class="hint">@T("If checked, all the notifications will be fading: notifications will fade out after some time.")</span>
        </li>
        <li>
            @Html.EditorFor(m => m.MakeAllNotificationsSticky)<label for="@Html.FieldIdFor(m => m.MakeAllNotificationsSticky)" class="forcheckbox">@T("All sticky")</label>
            @Html.ValidationMessageFor(m => m.MakeAllNotificationsSticky)<span class="hint">@T("If checked, all the notifications will be sticky: notifications will persist until explicitly closed. Sticky notifications are tied to a user (if authenticated) or to the session (if anonymous).")</span>
        </li>
    </ol>
</fieldset>