@using Orchard.Settings;
@using Lombiq.SmartNotifications.Models;
@using Orchard.ContentManagement;
@using Piedone.HelpfulLibraries.Utilities;
@using Lombiq.SmartNotifications.Services;
@{
    Script.Require("jQuery").AtHead();
    Style.Include("lombiq-smartnotifications-style.css").AtHead();
    var siteService = WorkContext.Resolve<ISiteService>();
    var notificationService = WorkContext.Resolve<INotificationManager>();
    var baseUrl = WorkContext.CurrentSite.BaseUrl;
    var settings = siteService.GetSiteSettings().As<SmartNotificationsPart>();
    string message = @Html.Raw(Html.Encode(Model.Message)).ToString();
    string id = Model.Message.ToString().Substring(Model.Message.ToString().IndexOf('|')+1);
    var isClosable = settings.IsClosable || message.Contains("\\CLO:\\");
    var isFading = settings.IsFading || message.Contains("\\FAD:\\");
    var isSticky = settings.IsSticky || message.Contains("\\STI:\\");
}
@if(isSticky)
{ 
    <div message-id="@id" class="message message-@Model.Type">@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />").Replace("\\CLO:\\","").Replace("\\FAD:\\","")).ToString().Substring(0,Model.Message.ToString().IndexOf('|'))@if(isClosable) {<span id='closeMessage'>&#10006;</span> }</div>
}
else
{
    <div message-id="@id" class="message message-@Model.Type">@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />").Replace("\\CLO:\\", "").Replace("\\FAD:\\", ""))@if (isClosable) {<span id='closeMessage'>&#10006;</span> }</div>
}
@if (this.WasNotDisplayed("messageJS"))
{
    if (isSticky)
    {
        <script type="text/javascript">
        (function ($)
        {
            $(function () {
                var uri = "@baseUrl" + '/api/Lombiq.SmartNotifications/Sticky';
                $(".message > span").click(function () {
                    if ($(this).parent().attr("message-id") != null) {
                        $.ajax({
                            url: uri + '/' + $(this).parent().attr("message-id"),
                            type: 'DELETE',
                            success: function (result) {
                                console.log(result);
                            }
                        });
                    }
                    $(this).parent().hide();
                });
                @if(settings.IsFading) {
                    <text>setTimeout(function () { $('.message').fadeOut(2000) }, 5000);</text>
                }
            });
        }
        )(jQuery);
        </script> 
    }
    else
    {
        <script type="text/javascript">
            (function ($) {
                $(".message > span").click(function () {
                    $(this).parent().hide();
                });
                @if(settings.IsFading) {
                    <text>setTimeout(function () { $('.message').fadeOut(2000) }, 5000);</text>
                }
            })(jQuery);
        </script> 
    }
}